* {
  margin: 0;
  padding: 0;
}

body {
  min-width: 340px;
}


.border {
  border: 1px solid red;
}

.topButton {
  display: block;
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: red;
  z-index: 3;
  top: 90vh;
  left: 90%;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.topButton:hover {
  opacity: 1.0;
  top: 89.5vh;
}

.navSec {
  display: block;
  position: absolute;
  width: 100%;
}

.logo {
  color: white;
  font-size: 30px;
  font-family: "Lobster regular", serif;
  margin-top: 3px;
  margin-left: 10px;
  transition: all 0.2s ease-in-out;
  opacity: 0.60;
  cursor: pointer;
}

.logo:hover {
  opacity: 1.0;
}

.navi {
  background-color: rgba(0,0,0,0.35);
  height: 50px;
  width: 700px;
  margin-left: 50%;
  left: -350px;
  margin-top: 25px;
  padding: 5px;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 4px 20px -2px rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease-in-out;
}

.navi:hover {
  background-color: rgba(0,0,0,0.65);
}

.heroImg {
  background-image: url("summer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center bottom;
  background-blend-mode: hard-light;
  background-color: grey;
  display: block;
  height: 95vh;
  overflow: hidden;
  text-align: center;
}

.heroImg img {
  display: inline-block;
  position: relative;
  margin-top: 60px;
  max-width: 900px;
}

.heroImg h1 {
  display: inline-block;
  position: relative;
  color: #303030;
  background-color: rgba(255,255,255,0.85);
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  margin-top: -60px;
  width: 70%;
  max-width: 600px;
  border-radius: 18px;
  overflow: hidden;
  padding: 5px;
  box-shadow: 0 4px 20px -2px rgba(0, 0, 0, 0.25);
}

.heroImg span {
  font-family: "Lobster regular", serif;
  color: red;
}

.heroImg button {
  display: block;
  position: relative;
  width: 150px;
  margin-left: 50%;
  margin-top: 20px;
  left: -75px;
}

.btn {
  background-color: #262626;
  color: #909090;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  color: white;
  background-color: black;
}

.about {
  background: linear-gradient(to bottom right, #00e6e6, #008ae6);
  display: block;
  text-align: center;
  padding: 50px
}

.aboutCont {
  display: inline-block;
  position: relative;
  max-width: 700px;
  border-bottom: 2px solid white;
  padding: 10px;
}

.about h1 {
  margin-top: 0px;
  text-transform: capitalize;
  color: white;
  font-family: "Lobster regular", serif;
}

.about p {
  margin-top: 20px;
  color: white;
  line-height: 1.7em;
  font-size: 20px;
}

.venue {
  background: white;
  display: block;
  text-align: center;
  padding: 50px
}

.venueCont {
  display: inline-block;
  position: relative;
  max-width: 700px;
  border-bottom: 2px dashed #262626;
  padding: 10px;
}

.venue .mainImg {
  display: inline-block;
  position: relative;
  max-width: 500px;
  margin-bottom: 50px;
  box-shadow: 0 15px 17px -5px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
}

.imgRow {
  margin-bottom: 50px;
}

.imgRow img {
  margin-bottom: 50px;
  box-shadow: 0 15px 17px -5px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
}

.venue h1 {
  margin-top: 0px;
  text-transform: capitalize;
  color: #262626;
  font-family: "Lobster regular", serif;
}

.venue p {
  margin-top: 20px;
  color: #262626;
  line-height: 1.7em;
  font-size: 20px;
  margin-bottom: 50px;
}

.guests {
  background: linear-gradient(to bottom right, #ff4d4d, #e67300);
  display: block;
  text-align: center;
  padding: 50px
}

.guestsCont {
  display: inline-block;
  position: relative;
  max-width: 700px;
  border-bottom: 2px solid white;
  padding: 10px;
}

.guests h1 {
  margin-top: 0px;
  text-transform: capitalize;
  color: white;
  font-family: "Lobster regular", serif;
}

.guests p {
  margin-top: 20px;
  color: white;
  line-height: 1.7em;
  font-size: 20px;
}

.nav a {
  text-transform: uppercase;
  color: white;
  opacity: 0.60;
}

.nav a:hover {
  color: #262626;
  border-radius: 20px;
  opacity: 1.0;
}

@media screen and (max-width: 700px) {

  .topButton {
    left: 87%;
  }

  .venue .mainImg {
    width: 95%;
  }

  .about p {
    font-size: 15px;
  }

  .venue p {
    font-size: 15px;
  }

  .heroImg {
    height: 70vh;
  }

  .heroImg img {
    width: 99%;
  }

  .heroImg h1 {
    font-size: 20px;
  }

  .guests p {
    font-size: 15px;
  }

}

@font-face {
	font-family: BigNoodleTitling;
	src: url("big_noodle_titling.ttf");
}

@font-face {
	font-family: BigNoodleTitlingOblique;
	src: url("big_noodle_titling_oblique.ttf");
}
